* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: rgb(146, 146, 146);
}

.the-list {
  background-color: rgb(255, 255, 255);
  margin: 10%;
  display: grid;
}

.list-container {
  background-color: rgb(255, 255, 255);
  padding: 1%;
}

.today-to {
  padding: 3% 0;
  display: flex;
}

#today-title {
  flex: 1;
}

#sync {
  width: 7%;
}

.the-input {
  display: flex;
}

#theinput {
  flex: 1;
  border: none;
  padding: 3% 0;
  outline: none;
}

#enter {
  width: 7%;
}

.del {
  width: 7%;
}

.to-dos {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.todo-container {
  display: flex;
  flex-direction: row;
  padding: 3% 0;
}

.check-descrip {
  flex: 1;
  display: flex;
}

.descripti {
  margin-left: 3%;
}

.ellipsis {
  width: 7%;
  flex: 0.01;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.clear {
  background-color: rgb(210, 210, 210);
  padding: 5%;
  border: none;
}

#clear-p {
  text-align: center;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.indList {
  display: flex;
  padding: 3% 0;
}

.eachParag {
  margin-left: 4%;
}

.checkNparagDiv {
  flex: 1;
}

.checked {
  background-color: rgb(199, 199, 199);
  text-decoration: line-through;
  color: #a6bdbe;
}
